flask
torch
torchvision
matplotlib
timm
pytorch-ignite
git+https://github.com/VLL-HD/FrEIA.git
tensorboard
metrics
tifffile==2021.7.30
tqdm==4.56.0
scikit-learn==1.2.2 
numpy==1.18.5
Pillow==7.0.0
scipy==1.7.1 
tabulate==0.8.7
click==8.1.7
cuda-python==11.8.3
opencv-python==4.9.0.80
